* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    
    background-image: -webkit-linear-gradient(55deg, #212a5e 65%, #2e3b84 65%), -webkit-linear-gradient(125deg, #2e3b84 35%, #212a5e 35%);
    background-size: 100% 100vh, 100% 100vh;
    background-position: 0 0, 0 100vh;
    background-repeat: no-repeat, no-repeat;
}

#intro {
    background: #eee;
    border-radius: 4px;
    margin: 20vh auto;
    padding: 64px;
    max-width: 960px;
    box-sizing: border-box;
}

#intro h1 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 32px;
}

#intro a {
    background: #212a5e;
    border: #212a5e solid 2px;
    border-radius: 4px;
    color: #fff;
    display: table;
    margin-bottom: 40px;
    padding: 12px 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}

#intro a:hover {
    background: rgba(0, 0, 0, 0);
    color: #212a5e;
}

.third {
    display: inline-block;
    width: calc(100% / 3 - 24px);
}

.left {
    float: left;
}

.center {
    margin-left: 36px;
}

.right {
    float: right;
}

.third h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    width: 80%;
}

.third p {
    color: #777;
    font-size: 14px;
}
